
body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: rgb(255,255,255);
margin: 0px;

}




.nothead {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center;
}



     

     .pe1 {

color: white;
text-align: center;

     }
     
 





         .header {

          text-align: center;
        
          margin: 40px;
        
        }
        
        
        .Amukh1 {
          transition: all 0.2s linear;
          color: rgb(100, 100, 100)
        
        }
        
        .Amukh1:hover {
        
          transition: all 0.2s linear;
          color:rgb(255, 251, 0)
        
        }