
body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: rgb(255,255,255);
margin: 0px;
padding: 0px;

}




.nothead {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center;
}



     

     .pe1 {

color: white;
text-align: center;

     }
     
 





         .header {

          text-align: center;
        
          margin: 40px;
        
        }
        
        
        .Amukh1 {
          transition: all 0.2s linear;
          color: rgb(100, 100, 100)
        
        }
        
        .Amukh1:hover {
        
          transition: all 0.2s linear;
          color:rgb(255, 251, 0)
        
        }

.Sbtn {

  outline: none;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 10px;
  background: cornflowerblue;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0px;
  position: relative;
  transition: top ease 0.5s;
  top: 0px;

}


.Sbtn:hover {

  background: rgb(57, 112, 214);
  top: -10px;
  
}

.Sbtn:active {
  background: rgb(12, 42, 99);
    
    
    
     }

     .nav {
      background: darkgray;
      width: 1700px;
      height: 35px;
      margin: 0px;
     }

     .navlinks {
      display: flex;
      flex-direction: row-reverse;
     }