body {
    background-color: rgba(145, 182, 231, 0.486);
    height: 8000px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* filter: blur(10px); */
   }
   
   .headcont {
       display: flex;
       justify-content: center;
       position: relative;
       top: 11000000;
       /* flex-direction: column; */
   }
   
   
   .glass {
    overflow: hidden;
    transition: all 1s;
       width:800px;
       height: 230px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   }

   .glass:hover {
    overflow: hidden;
    transition: all 1s;
       width:800px;
       height: 330px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   z-index: 100;
  
   }

   .about {
       margin: 35px;
       display: block;
   }
   
   /* .glass2 {
    overflow: hidden;
    transition: 1s;
    width:350px;
    height: 230px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur(5px);

   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
  
   flex-direction: column;
   position: absolute;
   right: 97px;
   top: 145px;
   }*/

   .discordpara {
       display: block;
   }


.glass2 {
        overflow: hidden;
        transition: 1s;
        width:350px;
        height: 400px;
           background: rgba( 255, 255, 255, 0.25 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       /* backdrop-filter: blur( 4px ); */
       /* -webkit-backdrop-filter: blur( 4px ); */
       /* filter: blur(4px); */
       /* -webkit-filter: blur(4px); */
       backdrop-filter: blur(5px);
       /* flex-direction: column; */
       border-radius: 10px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       display: flex;
       /* justify-content: center; */
       flex-direction: column;
       position: absolute;
       right: 97px;
       top: 145px;
       filter: blur(8px);
       -webkit-filter: blur(8px);
}

  /* .glass2 {
   backdrop-filter: blur(5px);

   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );

   flex-direction: column;
   position: absolute;
   right: 97px;
   top: 145px;
   filter: blur(8px);
   -webkit-filter: blur(8px);
   } */

   .glass2:hover {
    overflow: hidden;
    transition: 1s;
    width:350px;
    height: 390px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   position: absolute;
   right: 97px;
   top: 135px;
   z-index: 100;
   filter: blur(0px);
   -webkit-filter: blur(0px);
   }



   




   .glass3 {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 410px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 200px;
   left: 100px;
   filter: blur(8px);
   -webkit-filter: blur(8px);
   }

   .glass3:hover {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 400px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 190px;
   left: 100px;
   z-index: 100;
   filter: blur(0px);
   -webkit-filter: blur(0px);
   }

   .glass4 {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 410px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 650px;
   left: 250px;
   filter: blur(8px);
   -webkit-filter: blur(8px);
   }

   .glass4:hover {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 400px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 640px;
   left: 250px;
   z-index: 100;
   filter: blur(0px);
   -webkit-filter: blur(0px);
   }

   .glass5 {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 410px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 750px;
   left: 880px;
   filter: blur(8px);
   -webkit-filter: blur(8px);
   }

   .glass5:hover {
    position: absolute;
    overflow: hidden;
    transition: all 1s;
       width:360px;
       height: 400px;
       background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   /* backdrop-filter: blur( 4px ); */
   /* -webkit-backdrop-filter: blur( 4px ); */
   /* filter: blur(4px); */
   /* -webkit-filter: blur(4px); */
   backdrop-filter: blur(5px);
   /* flex-direction: column; */
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   top: 740px;
   left: 880px;
   z-index: 100;
   filter: blur(0px);
   -webkit-filter: blur(0px);
   }


   .apipara {
       display: block;
   }

  /* r */
   
   .header {
       color: rgb(59, 59, 56);
   }

   .js {
    color: rgb(59, 59, 56);
}
   
     .discordinv {
         width: 80px;
         height: 40px;
         border-radius: 25px;
         border: none;
         background-color: blueviolet;
         transition: all 0.2s linear;
         position: relative;
         /* transition: top ease 2s; */
         margin: 25px;
         position: relative;
         cursor: pointer;
     }
   
     .discordinv:hover {
         background-color: rgb(70, 37, 102);
         /* top: -10px; */
     }
   
     .discordinv:active {
       background-color: rgb(52, 28, 77);
       /* top: -10px; */
   }
   
     .discordpara {
         margin: 10px;
     }
   
   .glass:hover {
       top: 155px;
   }

   @keyframes float2 {
    0%   {    overflow: hidden;
        transition: 1s;
        width:350px;
        height: 400px;
           background: rgba( 255, 255, 255, 0.25 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       /* backdrop-filter: blur( 4px ); */
       /* -webkit-backdrop-filter: blur( 4px ); */
       /* filter: blur(4px); */
       /* -webkit-filter: blur(4px); */
       backdrop-filter: blur(5px);
       /* flex-direction: column; */
       border-radius: 10px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       display: flex;
       /* justify-content: center; */
       flex-direction: column;
       position: absolute;
       right: 97px;
       top: 145px;
       filter: blur(8px);
       -webkit-filter: blur(8px);}
    50%  {    overflow: hidden;
        transition: 1s;
        width:350px;
        height: 400px;
           background: rgba( 255, 255, 255, 0.25 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       /* backdrop-filter: blur( 4px ); */
       /* -webkit-backdrop-filter: blur( 4px ); */
       /* filter: blur(4px); */
       /* -webkit-filter: blur(4px); */
       backdrop-filter: blur(5px);
       /* flex-direction: column; */
       border-radius: 10px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       display: flex;
       /* justify-content: center; */
       flex-direction: column;
       position: absolute;
       right: 97px;
       top: 135px;
       filter: blur(8px);
       -webkit-filter: blur(8px);}
    100% {    overflow: hidden;
        transition: 1s;
        width:350px;
        height: 400px;
           background: rgba( 255, 255, 255, 0.25 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       /* backdrop-filter: blur( 4px ); */
       /* -webkit-backdrop-filter: blur( 4px ); */
       /* filter: blur(4px); */
       /* -webkit-filter: blur(4px); */
       backdrop-filter: blur(5px);
       /* flex-direction: column; */
       border-radius: 10px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       display: flex;
       /* justify-content: center; */
       flex-direction: column;
       position: absolute;
       right: 97px;
       top: 145px;
       filter: blur(8px);
       -webkit-filter: blur(8px);}
  }


       /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
     border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  